$tablet-widths: "min-width: 768px";
$desktop-widths: "min-width: 1150px";
$big-desktop-widths: "min-width: 1440px";

$font-base-size: 16px;
$font-base: 'FuturaBookC', Arial, sans-serif;
$font-futura-demic: 'FuturaDemiC', Arial, sans-serif;
$font-futura-medium: 'FuturaMediumC', Arial, sans-serif;
$font-yeseva-one: 'Yeseva One', Georgia, serif;
$font-proxima-nova: 'Proxima Nova', Arial, sans-serif;

$bg-dark: #131313;
$bg-light: #fff;

$body-text-color: #363636;
$color-white: #fff;
$color-gold: #e3b873;

$base-transition: all 0.4s ease;
