@font-face {
  font-family: 'FuturaBookC';
  src:  url('fonts/FuturaBookC.woff') format('woff'),
        url('fonts/FuturaBookC.woff') format('wof2');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'FuturaDemiC';
  src:  url('fonts/FuturaDemiC.woff') format('woff'),
        url('fonts/FuturaDemiC.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'FuturaMediumC';
  src:  url('fonts/FuturaMediumC.woff') format("woff"),
        url('fonts/FuturaMediumC.woff2') format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src:  url('fonts/ProximaNova-Regular.woff') format("woff"),
        url('fonts/ProximaNova-Regular.woff2') format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Yeseva One';
  src:  url('fonts/YesevaOne.woff') format("woff"),
        url('fonts/YesevaOne.woff2') format("woff2");
  font-style: normal;
  font-weight: normal;
}